.silk {

    display: flex;
    align-items: center;
}
.silk h1{
    text-align: center;
}

.title h1 {
    text-align:  center;
    padding: 50px;
}
.silk h2 {
    color: red;;
}

.silk p{}

.title h1 {
    text-align: center;
    align-items: center;
}
.bordado {

    display: flex;
    align-items: center;
}
.bordado h1{
    text-align: center;
}



.heat {

    display: flex;
    align-items: center;
}






.silk h2{
    text-align: center;
}

.bordado h2{
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .silk h2 {
        font-size: 18px;
    }
    .silk p {
        font-size: 10px;
    }
  }